<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main1.css" />
	</head>
	<body>
		<div class = "topnav">
		<a  href = "home"> Home </a>
		<a class = "active" href = "/about"> About </a>
		<a href = "https://zer-0-ne.github.io"> Contact </a>
	</div>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#"> 
				<span></span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="static/images/11.jpg" alt="" />
						</div>
						<header class="special">
							<h2>About the Project</h2>
						</header>
						<div class="content">
							<p>
								<strong> This project shows a simple way of doing sentiment analysis in your web-browser with the help of vaderSentiment tool. This web-application is mainly suitable(and made) for memes and texts that appear in social-media bodies.
								The motivation for this project originates from the fact that there exist no such application which could analyse the sentiment from memes. Though memes being highly contextual and sarcastic, we believe the vaderSentiment tool is of great help in this regard. <br> 
								Typical Threshold values have been defined as below for a compound score used for analyzing the sentiment:
								<br>
								<br>
								1. Positive sentiment: compound score >= 0.05 <br>
								2. Neutral sentiment: (compound score > -0.05) and (compound score < 0.05) <br>
								3. Negative sentiment: compound score <= -0.05 <br>
								</strong>

							</p>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>Some successful attempts</h2>
							
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="static/images/pic1.jpg"><img src="static/images/pic1.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="static/images/pic2.jpg"><img src="static/images/pic2.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="static/images/pic3.jpg"><img src="static/images/pic3.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="static/images/pic4.jpg"><img src="static/images/pic4.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="static/images/pic06.jpg" alt="" /></div>
							<div class="inner">
								<h3>Unsuccessful Analysis!</h3>
								<p> <strong>The given meme can only be understood by strong visual analysis and also depends on the knowledge and contextual understanding of the person.<br>
								There is not much text that can be scraped off the meme.</strong></p>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush"><img src="static/images/pic07.jpg" alt="" /></div>
							<div  class="inner">
								<h3>Unsuccessful Analysis!!</h3>
								<p>
									The given 'class' of memes again, complement what has been said, as a meme-lover understands ;).
									<br>
									It becomes difficult when you introduce sarcasm in the domain of sentiment analysis.
								</p>
							</div>
						</div>
						<div class="spotlight">
							<div class="image flush"><img src="static/images/pic08.jpg" alt="" /></div>
							<div class="inner">
								<h3>Unsuccessful Analysis!!!</h3>
								<p><strong>
									Some memes often include a simple text which always require a 'visual scene' explaining what the meme is about. The given meme falls in this category.

								</strong></p>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/Abhish3kSunny" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="mailto:abhishek.nitdgp.98@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>