<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main1.css" />
	</head>
	<body>
		<div class = "topnav">
		<a  href = "home"> Home </a>
		<a class = "active" href = "/about"> About </a>
		<a href = "https://zer-0-ne.github.io"> Contact </a>
	</div>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#"> 
				<span></span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="static/images/11.jpg" alt="" />
						</div>
						<header class="special">
							<h2>About the Project</h2>
						</header>
						<div class="content">
							<p>
								 This project shows a simple way of doing sentiment analysis in your web-browser with the help of vaderSentiment tool. This web-application is mainly suitable(and made) for memes and texts that appear in social-media bodies.
								The motivation for this project originates from the fact that there exist no such application which could analyse the sentiment from memes. Though memes being highly contextual and sarcastic, we believe the vaderSentiment tool is of great help in this regard.

							</p>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>Vestibulum Convallis</h2>
							<p>vehicula urna sed justo bibendum</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="image fit flush">
										<a href="static/images/pic03.jpg"><img src="static/images/pic03.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="static/images/pic01.jpg"><img src="static/images/pic01.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="static/images/pic04.jpg"><img src="static/images/pic04.jpg" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image fit flush">
										<a href="static/images/pic05.jpg"><img src="static/images/pic05.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="static/images/pic06.jpg" alt="" /></div>
							<div class="inner">
								<h3>Viverra Hendrerit</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush"><img src="static/images/pic07.jpg" alt="" /></div>
							<div  class="inner">
								<h3>Curabitur Eget</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
						</div>
						<div class="spotlight">
							<div class="image flush"><img src="static/images/pic08.jpg" alt="" /></div>
							<div class="inner">
								<h3>Morbi Eleifend</h3>
								<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel.</p>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>